  * {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #1B1A1A;
  }
  
  .header {
    text-align: center;
    padding: 32px;
  }
  
  .topnav {
    overflow: hidden;
    background-color: #333;
  }

  .topnav img {
      align-content: center;
      margin: 6px 6px; 
      margin-bottom: 0%;
  }
  
  .topnav a {
    float: top;
    color: #f2f2f2;
    text-align: center;
    line-height: 50px;
    padding: 50px 50px;
    font-size: 17px;
    text-decoration: none;
  }
  
  .topnav a:hover {
    background-color: #f2f2f2;
    color: black;
    height: 2em;
  }
  
  .topnav a.active {
    background-color: #CC3637;
    color: white;
  }
  
  aside {
      width: 30%;
      padding-left: 15px;
      margin-left: 15px;
      float: right;
      font-style: bold;
      color: #CC3637; 
      justify-content: center;
      
    }

  aside h1 {
    font-size: 22px;
  }

  aside li {
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  
aside img {
     margin: 50px;
     
}

aside a {
    color: #ffffff;
    font-size: 14;
    text-decoration: none;
    margin-right: 10px;
}

aside a:hover {
    background-color: #CC3637;
    color: black;
    height: 2em;
}

.button1 {background-color: #cc3637;}

.button {
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }

  .row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
  }
  
  /* 4 columnas junta una tras otra*/
  .column {
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
  }
  
  .column img {
    margin-top: 8px;
    vertical-align: middle;
  }
  
  /* Responsive */
  @media (max-width: 800px) {
    .column {
      flex: 50%;
      max-width: 50%;
    }
  }
  
  /* Responsive */
  @media (max-width: 600px) {
    .column {
      flex: 100%;
      max-width: 100%;
    }
  }

  footer {
    text-align: center;
    padding: 3px;
    background-color: #CC3637;
    color: #f2f2f2;
    height: 125px;
  }
  
  .footerh2 > a {
      color: #ffffff;
      font-size: 14;
      text-decoration: none;
      margin-right: 10px;
  }
